.navbar{
    height:60px;
    background: solid var(--first);
    border-bottom: 1.5px solid var(--light);
    z-index: 1000;
}

.navbar_nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;

}

.nav_links{
    display: flex;
    justify-content: flex-end;

}

.logo{
    position: absolute;
    left: 1vw;
    top: 55px;
    max-height:50px;
    margin: auto;
    cursor: pointer;
}

.search {
    width: 18%;
    max-height: 36px;
    display: flex;
    margin: auto 1vw;
}

.search_input {
    width: 90%;
    border: 3px solid white;
    border-right: none;
    height: 36px;
    border-radius: 10px 0 0 10px;
    color: var(--dark);
    transition: all 1s ease;
}

.search:hover > .search_input,
.search_input:focus {
    border: 3px solid var(--light);
    border-right: none;
    outline: none;
    color: var(--dark);
}

.search_submit {
    outline: none;
    padding-top: 5px;    
    background: linear-gradient(to left, var(--light), var(--fourth));
    height: 36px;
    border: 2px solid white;
    background: var(--secound);
    color: var(--light);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all 1s ease;
}

.search_submit:hover,.search:hover > .search_submit {
    background: var(--sixth);
    border: 2px solid var(--sixth);
}



.nav_item{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 25px;
    margin-right: 15px;

}

.nav_item > a{
    font-family: "Pacifico";
    border-bottom: 5px solid var(--fifth);
    border-radius: 0px;
    display: block;
    font-size: 18px;
    color: var(--light);
    transition: all 0.5s ease;

}

.nav_item:hover > a{
    border-bottom: 5px solid var(--sixth);
    border-radius: 5px;
}



.drop_div{
    max-height: 0;
    text-align:center;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 52px;
    border-top: 3px solid var(--seventh);
    border-bottom: 3px solid var(--seventh);
    box-shadow: 0 5px 5px 0 var(--eigth);
    background: linear-gradient(90deg, var(--ninth) 0%, var(--tenth) 100%);
    transition: all 1.5s ease,max-height 1s ease;
    z-index: 1000;
}

.nav_item > a:hover ~ .drop_div, .nav_item:hover .drop_div{
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transition: all 1.5s ease,max-height 1s ease-in;
}

.dropdown{
    opacity: 0;
    visibility: hidden;
    margin:10px auto;
    transition: all 1.4s ease;
}

.nav_item > a:hover ~ .drop_div > .dropdown, .nav_item:hover .drop_div >.dropdown{
    opacity: 1;
    visibility: visible;
   
}

.drop_div > .dropdown > button{
    all: unset;
    font-size: 16px;
    transition: all 0.5s ease;
    cursor: pointer;
    
    
}

.drop_div > .dropdown > button:hover{
    color: var(--eleventh);
    
}

.hamburguer {
    
    position: relative;
    cursor: pointer;
    z-index: 1000;
    margin-bottom: 3px;
}

.hamburguer span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--light);
    border-radius: 10px;
    transition: all 1s ease;
}

.hamburguer:hover span {
    transform: translateX(-10px);
    background-color: var(--light);
}

.hamburguer:hover span:nth-child(2) {
    transform: translateX(10px);
}

.hamburguer.is_active span {
    transform: translateX(-10px);
    background-color: var(--sixth);
}

.hamburguer.is_active span:nth-child(2) {
    transform: translateX(10px);
}

@media screen and (max-width: 920px){

    .logo{
        top: 10px;
        max-height:40px;
        left: 2vw;
    }

    .hamburguer {
        display: block;
        margin: 0 1vw;
    }

    .nav_links{
        
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 50%;
        top: 61.5px;
        right: 0;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
        text-align:center;
        border-top: 3px solid var(--seventh);
        border-bottom: 3px solid var(--seventh);
        box-shadow: 0 5px 5px 0 var(--eigth);
        background: linear-gradient(90deg, var(--ninth) 0%, var(--tenth) 100%);
        pointer-events: none;
        transition: all 1s ease,max-height 0.8s ease-in-out;



        
    }

    .nav_item{
        pointer-events: auto;
    }

    .search{
        position: absolute;
        left: 25%;
        top: 12px;
        margin: auto;
        width: 50%;
    }

    .drop_div{
        position: absolute;
        top: -3px;
        border-radius: 0 0 0 10px;
        right: 100%;
        box-shadow: 0 5px 0 0 var(--eigth);
        background:var(--ninth) ;
        height: fit-content;
        width: 100%;
        min-width: fit-content;
        text-align: center;
        align-content: center;
        align-items: center;

    }

    .dropdown{
        margin: 20px auto;
        vertical-align: middle;
    }

    .drop_div > .dropdown > button{
        font-size: 18px;
        transition: all 0.5s ease;
        
        
    }

    .nav_links:hover{
        border-radius: 0 0 10px 0;
    }

    .active{
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
        transition: all 1.5s ease,max-height 1s ease-in-out;


    }

    

    
}